<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>789365570154-cgggs1if50vel6vde5359kvhrg5ars7p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.789365570154-cgggs1if50vel6vde5359kvhrg5ars7p</string>
	<key>API_KEY</key>
	<string>AIzaSyAjFKJoAd44v6366T7etxrPy-H225CNON8</string>
	<key>GCM_SENDER_ID</key>
	<string>789365570154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.c1t1z3nk3n.SwiftUIFirebaseRTC</string>
	<key>PROJECT_ID</key>
	<string>swiftuifirebasertc</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuifirebasertc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789365570154:ios:0108763eaaddc772e82813</string>
</dict>
</plist>